/*introduction content*/
#introduction .content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:"blank blank blank"
                        "blank software blank"
                        "blank design blank"
                        "blank selectAll blank"
                        "blank blank blank";
}

#introduction button{
    
}

#introduction .content #software{
    grid-area: software;
}

#introduction .content #design{
    grid-area: design;
}

#introduction .content #all{
    grid-area: selectAll;
}