html {
    background-color: #011042;
}


body {
    margin:0;
}

/*--------------------------introduction content ---------------------------*/
#introduction {
    position: relative;
    overflow: hidden;
    /*sky-ish backgorund*/
    background: radial-gradient(ellipse 140% 80% at 70% 110%, #011042 0%, #05070d 45%, #000000 100%);
}

#introduction .content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem 1.5rem;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:". . ."
                        ". software ."
                        ". design ."
                        ". selectAll ."
                        ". . .";
    height: 100vh;
    width: 100%;
    justify-items: center;
    align-items: center;
}

/*Stars*/
.stars {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
}


.stars::after {
    content: "";
    position: absolute;
    top: 10%;
    left:25%;
    width: 3px;
    height: 3px;
    background: white;
    border-radius: 50%;
    box-shadow:
        10vw 15vh white,
        25vw 30vh white,
        40vw 10vh white,
        60vw 25vh white,
        75vw 40vh white,
        85vw 15vh white,
        15vw 70vh white,
        35vw 55vh white,
        50vw 80vh white,
        70vw 65vh white,
        90vw 75vh white,
        20vw 45vh white,
        55vw 12vh white,
        61vw 12vh white,
        76vw 23vh white,
        5vw 25vh white,
        12vw 40vh white,
        18vw 60vh white,
        22vw 75vh white,
        30vw 20vh white,
        33vw 35vh white,
        37vw 65vh white,
        45vw 50vh white,
        48vw 15vh white,
        52vw 30vh white,
        78vw 52vh white;
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.35));
}



/*Buttons*/
#introduction .content {
    z-index: 1;
}

#introduction button{
    padding:1em;
    background: rgba(255, 255, 255, 0.01);
    color: white;
    border-radius: 10px;
    width: clamp(220px, 32vw, 420px);
    font-size: 1.2rem;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgba(0, 217, 255, 0.467);
    transition: all 0.3s ease;
}

#introduction button:hover {
    font-size: 1.22em;
    box-shadow: 0 0 20px rgba(65, 227, 255, 0.607);
    cursor: pointer;
}

#introduction button:active {
    font-size: 1.2em;
    box-shadow: 0 0 5px rgba(65, 227, 255, 0.607);
    cursor: pointer;
}




#introduction .content #software{
    grid-area: software;
}

#introduction .content #design{
    grid-area: design;
}

#introduction .content #all{
    grid-area: selectAll;
}

/*---------------------------------------------------------------*/

/*-----------------Hides content-----------------------*/

.hidden {
    display: none;
}

/*---------------------------------------------------------------*/

/*-----------------intro animations-----------------------*/

@keyframes introFadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform:translateY(-20px);
    }
}

@keyframes portfolioIntro {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeOut {
    animation: introFadeOut 0.8s ease forwards;
}

.fadeIn {
    animation: portfolioIntro 0.8s ease forwards;
}

#portfolio {
    opacity: 0;
    transform: translateY(30px);
}
/*---------------------------------------------------------------*/

/*-----------------------Nav bar--------------------------*/

nav {
    display: grid;
    background: radial-gradient(ellipse 140% 80% at 50% 110%, #01124b 0%, #0e1938 45%, #000000 100%);
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-areas: ". one two three four five six seven eight .";
    align-items: center;
    justify-items: end;
    font-size: 0.7rem;
    height: 11vh;
    min-height: 70px;
    z-index: 1;
    margin: 0;
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
    position: fixed;
    top: 20px;
    z-index: 9999;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%);
}

nav a{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.5s ease;
    z-index: 3;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgba(0, 217, 255, 0.467);
    border-radius: 10px;
    background: rgba(6, 1, 47, 0.08);
    padding: 0.5% 10%;
}

nav a:hover {
    cursor: pointer;
    text-shadow: 0px 0px 4px white;
    box-shadow: 0 0 20px rgba(65, 227, 255, 0.607);
    scale: 1.02;
}

#aboutme {
    grid-area: six;
}

#projects {
    grid-area: seven;
}

#contact {
    grid-area: eight;
}

@media (max-width: 838px) {
    nav {
        display: grid;
        background: radial-gradient(ellipse 140% 80% at 50% 110%, #01124b 0%, #0e1938 45%, #000000 100%);
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-areas: "one two three";
        align-items: center;
        justify-items: center;
    }

    #aboutme {
        grid-area: one;
    }

    #projects {
        grid-area: two;
    }

    #contact {
        grid-area: three;
    }

    nav a {
        display: block;
        white-space: nowrap;
    }

}

nav .stars {
    z-index: 1;
}

nav .stars::after {
    content: "";
    position: absolute;
    top: 10%;
    left:25%;
    width: 1px;
    height: 1px;
    background: white;
    border-radius: 50%;
    box-shadow:
        1vw 5vh white,
        3vw 2vh white,
        8vw 6vh white,
        14vw 3vh white,
        19vw 8vh white,
        26vw 4vh white,
        33vw 7vh white,
        39vw 2vh white,
        44vw 9vh white,
        51vw 5vh white,
        58vw 3vh white,
        64vw 8vh white,
        71vw 4vh white,
        77vw 7vh white,
        89vw 6vh white,
        95vw 4vh white;
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.35));
}

/*---------------------------------------------------------------*/

/*-------------------Presentation Section-------------------------*/

#presentation {
    background: radial-gradient(circle 50vh at 50% -5%, #10014233 0%, #07002455 50%, #00010cEE 100%);
    margin: 0;
    min-height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
    grid-template-areas:
        "title title title . . . ."
        ". pretitle pretitle pretitle pretitle pretitle ."
        ". pretitle pretitle pretitle pretitle pretitle ."
        ". . text text text text ."
        ". . . . . . .";

    align-items: center;
    padding-top: 100px;

    box-shadow: inset 0 12px 20px -12px rgba(65, 227, 255, 0.22);
}

#presentation h2,
#presentation h3,
#presentation h4,
#presentation p {
    color: white;
    margin: 0;
}

#presentation h2,
#presentation h3,
#presentation h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#presentation p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    max-width: 90ch;
}

#mainTitle {
    grid-area: title;
    text-shadow: 0 0 5px white;
    font-size: 2vh;
    padding-left: 1vw;
}

#preTitle {
    grid-area: pretitle;
}

#preTitle #my-name {
    font-size:5vh;
}

#preTitle #have-I-said {
  display: inline-block;
  overflow: hidden;

  border-right: .15em solid orange;
  width: 0;
  animation: 
    typing 3s steps(40, end) forwards,
    dramaticIntro 3s steps(40, end) forwards,
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


@keyframes dramaticIntro {
    0% {
        transform: translateX(0);
        font-size: 5vh;
        white-space: nowrap;
    }
    99% {
        transform: translateX(-50%);
        font-size: 15vh;
        white-space: nowrap;
    }
    100% {
        transform: translateX(0);
        font-size: 10vh;
        white-space: normal;
    }
}


#mainText {
    grid-area: text;
    font-size: 2.5vh;
}

/*---------------------------------------------------------------*/

/*---------------------------SkillCards--------------------------*/

#skillcards {
    background: linear-gradient(180deg, #00010cEE 5%, #00010c22 100%);;
    margin: 0;
        display: grid;
        grid-template-columns: 1fr 9fr 1fr;
        grid-template-rows: 10vh auto;
        grid-template-areas: ". titleText ."
                            "cards cards cards";
        align-items: center;

        box-shadow: inset 0 -12px 20px -12px rgba(255, 255, 255, 0.25);
}

#skillcards h3 {
    margin: 0;
    grid-area: titleText;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#galeryskills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
    grid-area: cards;
}

#galeryskills .image-card {
    margin: 0;
    background: linear-gradient(180deg, rgba(14, 14, 77, 0.3) 20%, #00010c 100%);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin-bottom: 7vh;
    transition: 0.5s all ease;
}

#galeryskills .image-card:hover {
    background: linear-gradient(180deg, rgba(14, 14, 77, 0.3) 5%, #00010c 100%);
    transform: scale(1.3);
    margin-bottom: 7vh;
    z-index: 4;
    margin-right: 4vw;
    margin-left: 4vw;
}


.image-card img {
    height: 17vh;
    width: auto;
    padding: 3vh;
}



